@import '../global_styles/__mq';

.modal {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 60%;
    min-height: 70vh;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 20%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;  
    transform: translateY(0); 
    display: flex;
    flex-direction: column;
    
    &--invisible {
        opacity: 0;
        transform: translateY(-100vh); 
    };

    @include mq(smartphone) {
        width: 90%;
        left: 5%;
        height: 90vh;
        top: 5%
    }
}
