@import '../global_styles/__general';
@import '../global_styles/__mq';

.loader {
  margin: 0 auto;
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:$colorTitle;
  border-top-color:$colorTitle;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  // position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:1;

  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$extraColor;
    border-top-color:$extraColor;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }

  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$bgColor;
    border-top-color:$bgColor;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
  @include mq(smartphone) {
    width: 42vmin;
    height: 42vmin;
    border-width: 4vmin;
    top: calc(50% - 20vmin);
    left: calc(50% - 20vmin);

    &:before {
      width: 35vmin;
      height: 35vmin;
      border-width: 4vmin
    }

    &:after{
      width: 27vmin;
      height: 27vmin;
      top: 4vmin;
      left: 4vmin;
      border-width: 4vmin;
    }
  }
}
  
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}