@import '../global_styles/__mq';
@import '../global_styles/__general';

.weekInfo {
    flex: 1;

    &__mainTitle, &__subtitle {
        margin: 0.5rem auto;
        text-align: center
    }

    &__mainTitle {
        @include mainTitle;
    }

    &__subtitle {
        @include subtitle;
    }

    &__subtitle--day {
        display: none;
    }

    @include mq(smartphone) {
        &__mainTitle, &__subtitle {
            margin: 0;
        }

        &__subtitle--week {
            display: none; 
        }

        &__subtitle--day {
            display: block;
        }
    }
}