@import '../global_styles/__mq';
@import '../global_styles/__general';

.weekNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: $bgColor;
    border-radius: 0.5rem;
    width: 30vw;
    font-family: $titleFont;

    &__arrow {
        font-size: $titleFontSize;
        padding: 0.5rem;
        color: $colorTitle;
        pointer-events: none;
    }  

    @include mq(smartphone) {
        width: 100%;
        padding: 0.5rem;

        &__arrow {
            width: 1rem;
        }
    }
}
