@import '../../global_styles/__mq.scss';
@import '../../global_styles//__general.scss';

.weekNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: $bgColor;
    border-radius: 0.5rem;
    width: 30vw;
    font-family: $titleFont;

    @include mq(smartphone) {
        width: 100%;
        padding: 0.5rem;
    }

    svg {
        font-size: 2.5rem;
        padding: 0.5rem;
        color: $colorTitle;
        @include mq(smartphone) {
            width: 1rem;
            font-size: 1.8rem;
        }

        path {
            pointer-events: none;
        }
    }

    hgroup {
        flex: 1;
        text-align: center;
        color: $colorTitle;

        h2 {
            font-size: 2rem;
        };

        h3 {
            font-size: 1.3rem;
        };

        h2, h3 {
            margin: 0.5rem auto
        }

        @include mq(smartphone) {
            h2, h3 {
                margin: 0.2rem auto;
            }
        }
    }

    .dayData {
        display: none;
        @include mq(smartphone) {
            display: inline-block;
        }
    }

    .weekData {
        @include mq(smartphone) {
            display: none;
        }
    }    
}