$breakpoints : (
    smartphone: (max-width: 600px),
    tablet: (max-width: 1000px)
);

@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if ($size) {
        @media #{$size} {
            @content;
        }
    }
    @else {
        @error 'Not exist'
    }
}