@import './global_styles/__mq';
@import './global_styles/__general';

.status {
    color: $bgColor;
    font-size: 1.2rem;
    padding: 0.5rem;
    display: block;
    border: 1px solid transparent;

    &:hover {
        border: $extraColor 1px solid;
        border-radius: 50%
    }
}