@import '../../global_styles/__mq.scss';
@import '../../global_styles//_colors';

.weekNav {
    display: flex;
    background-color: $bgColor;
    .dayData {
        display: none;
        @include mq(smartphone) {
            display: inline-block;
        }
    }

    .weekData {
        @include mq(smartphone) {
            display: none;
        }
    }

    .arrow {

    }
    
}