@import '../global_styles/__general';

.emptyList {
    width: 100%;
    text-align: center;

    &__title {
        @include mainTitle;
    }

    &__text {
        @include basicText;
    }

    &__icon {
        @include mainTitle {
            font-size: 4.5rem;
            margin: 0;
        }
    }

}