@import '../global_styles/__mq';
@import '../global_styles/__general';

.tasksList {
    margin: 1rem auto;
    text-align: center;
    border-collapse: collapse;

    &__title {
        font-family: $titleFont !important;
        font-size: 1.3rem;
        color: $colorTitle;
        padding: 0.5rem;
        min-width: 4rem;
    }

    &__day {
        position: relative
    }

    &__day:nth-of-type(odd) {
        background-color: $bgColor;
    }

    &__row {
        border-bottom: $colorTitle 1px dotted;
    }

    &__task {
        font-family: $basicFont;
        padding: 0.5rem;
        box-sizing: border-box;
        width: 100%;
    }

    button {
        width: 100%;
        // min-height: 2rem;
        height: 100%;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // display: block;
        position: absolute;
        top:0;
        left: 0
        
    }

    @include mq(smartphone) {
        margin: 1rem 0;
        width: 100%;
        &__title--invisible {
            display: none;
        }

        &__day {
            width: 4rem;
        }

        &__day:nth-of-type(odd) {
            background-color: #fff;
        }
    }
}