@import '../global_styles/__mq';
@import '../global_styles/__general';

.tasksList {
    width: 60%;
    margin: 1rem auto;
    text-align: center;

    &__title {
        font-family: $titleFont;
        font-size: 1.3rem;
        color: $colorTitle;
        padding: 0.5rem;
    }

    &__day {
        width: 4rem;
    }

    &__day:nth-of-type(odd) {
        background-color: $bgColor;
    }

    @include mq(smartphone) {
        margin: 1rem 0;
        width: 100%;
        &__title--invisible {
            display: none;
        }

        &__day:nth-of-type(odd) {
            background-color: #fff;
        }
    }
}